.mainCategory {
    margin-left: 210px; /* to account for the width of the sidebar */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .categoryContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Change this to flex-start for alignment */
    width: 100%; /* Ensuring the container takes full width */
  }
  
  .cardsContainer {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    margin-right: 20px; /* Added to give some space between the cards */
  }
  