/* newPlaylist.css */
.form-overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.form-container {
    width: 90%;
    max-width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.cross-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.save-address-btn {
    background: #4CAF50;
    color: white;
}

.cancel-address-btn {
    background: #f44336;
    color: white;
    margin-top: 10px;
}

.dummy-address-btn {
    background: #555;
    color: white;
    margin-top: 10px;
}
