.wholeSinglePage {
  display: flex;
  min-height: 100vh;
  background-color: #f9f9f9; /* Light gray background color for the whole page */
}

.sideBarSide {
  flex-basis: 20%;
  border-right: 1px solid #e0e0e0;
  padding: 1rem;
  background-color: white; /* White background color for the sidebar */
}

.centerFeed {
  flex-basis: 50%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.videoPart {
  width: 100%;
  height: 300px;
  position: relative;
}

.videoPart img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profilee {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  border-bottom: 1px solid black;
}
.part1 {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.profilePic {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.profilePic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.abouut p {
  font-size: 1.125rem;
  font-weight: bold;
  color: #212121;
  text-align: start; /* Dark gray color for the title */
}

.functionableIcons {
  display: flex;
  flex-grow: 1;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.icon {
  font-size: 22px;
  cursor: pointer;
}

.commentPart {
  width: 100%;
  margin-top: 5px;
  text-align: start;
  padding: 10px;
}
.commentHeading {
  font-size: 26px;
  font-weight: bolder;
}

.notes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.singleNote {
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.singleNote .text p {
  font-size: 1rem;
}

.singleNote .functionableIcons {
  display: flex;
  justify-content: flex-end;
}

.singleNote .functionableIcons .icon {
  cursor: pointer;
  margin-left: 10px;
}
.rightBarSide {
    flex-basis: 30%;
    border-left: 1px solid #e0e0e0;
    padding: 1rem;
    background-color: white;
    text-align: start;
    flex-grow: 1;
    overflow: auto; /* Ensures that the content will scroll if it exceeds the container's height */
  }
  
  .morevideosColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .v1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .videoItem {
    display: flex; /* Aligns the video and description horizontally */
    gap: 10px; /* Adds space between the video and description */
  }
  
  .videooo {
    flex-shrink: 0; /* Prevents the video from shrinking */
    width: 110px;
    height: 110px;
  }
  
  .videooo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .description {
    display: flex;
    flex-direction: column; /* Aligns the text in the description vertically */
    justify-content: center;
    align-items: flex-start; /* Aligns the text to the left */
    flex-grow: 1; /* Allows the description to take up the remaining space */
  }
  
  .description p {
    margin: 0; /* Removes the default paragraph margins */
    font-size: 18px;
    word-spacing: 2px;
   
  }
  
  .description span{
    color:grey
  }